name: Deploy GitHub Pages

on:
  push:
    branches: [main]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Clean workspace
        run: |
          rm -rf node_modules dist build

      - name: Install
        run: npm ci

      - name: Build
        run: npm run build

      - name: Deploy
        uses: actions/deploy-pages@v4
